<div class="aboutImg">
    <nav-directive></nav-directive>
  <div class="aboutText">
    <p>
      Overbrook Construction, Inc. has been building quality homes in the greater Eastside and Seattle areas since 1994, specializing in high-end new construction, additions and remodeling. Our dedicated team of design, engineering and project management professionals can help manage the home building process from start to finish.
    <br>
    <br>
      Owner Eric Whiting values the company’s long-standing relationships with clients, suppliers and employees, and takes great pride in the fact that the business has been built largely through word-of-mouth and client referrals for more than 20 years. The experienced hands at Overbrook Construction remove the stress from the seemingly daunting process of building or remodeling your home and make it an enjoyable and satisfying experience for all involved.
    </p>
  </div>

</div>
