
<section class="adminMasterSection">

  <nav-directive></nav-directive>


<section ng-show="adminCtrl.admin == false" ng-init="adminCtrl.clearToken()">
  <form class="adminLogin" name="loginForm" ng-submit="adminCtrl.login(admin)">
    <input type="text" name="name" placeholder="username" ng-model="admin.username">

    <input type="{{showpassword ? 'text' : 'password'}}" ng-model="admin.password">

    <!-- <input type="password" name="name" placeholder="password" ng-model="admin.password"> -->
    <input type="checkbox" ng-model="showpassword" ng-checked="false">
    <button class="adminButtons" type="submit">Login</button>

  </form>
</section>

<section ng-show="adminCtrl.admin == true">
  <form name="submitHouseForm" class="submitHouseForm" ng-submit="adminCtrl.submitHouse(newHouse)">
    <input type="text" name="name" placeholder="address" ng-model="newHouse.address">
    <input type="number" name="name" placeholder="sqft" ng-model="newHouse.sqft">
    <input type="number" name="name" placeholder="lotSize" ng-model="newHhstSize">
    <input type="number" name="name" placeholder="bedrooms" ng-model="newHouse.bedrooms">
    <input type="number" name="name" placeholder="baths" ng-model="newHouse.baths">
    <input type="text" name="name" placeholder="elementary" ng-model="newHouse.elementary">
    <input type="text" name="name" placeholder="ms" ng-model="newHouse.ms">
    <input type="text" name="name" placeholder="hs" ng-model="newHouse.hs">
    <span>Status :</span> <select name="name" ng-model="newHouse.status" required>
      <option value="Complete">Complete</option>
      <option value="Future">Future</option>
      <option value="Constructing">Constructing</option>
    </select>



    <button type="submit" class="adminButtons" name="button">submit house</button>
  </form>
  <button type="submit" class="adminButtons" ng-click="adminCtrl.getHouseData()">Display Homes</button>
</section>

<section>
    <div ng-repeat="house in adminCtrl.allHouses">
      <ul>
        <li class="listItem">Address: {{house.address}}</li>
        <li class="listItem">Status: {{house.status}}</li>
      </ul>
      <button type="submit" class="adminButtons" ng-click="adminCtrl.updateHouse.rendered = house._id">update record</button>
      <button type="submit" class="adminButtons" ng-click="adminCtrl.deleteHouse(house._id, house.address)">delete record</button>

      <section name="fileUploader" ng-show="adminCtrl.admin == true">
        <!-- STAGING ___________________ -->
        <form action="http://localhost:3000/picUpload" method="POST" enctype="multipart/form-data">

          <!-- <form enctype="multipart/form-data" ng-submit="adminCtrl.addPictures(file)"> -->
          <!-- POSSIBLY NEED TO ADD A DIRECTIVE -->


        <!-- PRODUCTION ___________________________ -->
          <!-- <form action="https://overbrook-server.herokuapp.com/picUpload" method="POST" enctype="multipart/form-data"> -->

          <input type="file" name="files[]" value="upload" ng-model="file" file-model="myFile" multiple>
          <input type="text" name="name" value="{{house._id}}">
          <input type="text" name="housePrefix" value="">
          <button type="submit" class="adminButtons" >upload file</button>
        </form>
      </section>

      <hr>

    <form name="updateHouseForm" class="updateHouseForm" ng-show="adminCtrl.updateHouse.rendered == house._id" ng-submit="adminCtrl.updateHouse.rendered = null">
      <span>address: </span><input type="text" ng-model="house.address">
      <span>sqft: </span><input type="number" ng-model="house.sqft">
      <span>lotsize: </span><input type="number" ng-model="house.lotsize">
      <span>bedrooms: </span><input type="number" ng-model="house.bedrooms">
      <span>baths: </span><input type="number" ng-model="house.baths">
      <span>elementary: </span><input type="text" ng-model="house.elementary">
      <span>ms: </span><input type="text" ng-model="house.ms">
      <span>hs: </span><input type="text" ng-model="house.hs">
      <span>Status :</span> <select name="name" ng-model="house.status" required>
        <option value="Complete">Complete</option>
        <option value="Future">Future</option>
        <option value="Constructing">Constructing</option>
      </select>
      <button type="submit" class="adminButtons" ng-click="adminCtrl.updateHouse(house)">save changes</button>
      <button type="reset" class="adminButtons" ng-click="adminCtrl.updateHouse = null; peopleCtrl.updateHouse.rendered = null">discard changes</button>
    </form>
  </div>

</section>

</section>
